.DS_STORE
Thumbs.db

/release.properties
pom.xml.next
pom.xml.releaseBackup
pom.xml.tag

/.idea/modules.xml
*.iml
.attach_pid*

target/
!**/src/main/**/target/

/test-data
!/test-data/.gitkeep

/.mvn/wrapper/maven-wrapper.jar
